.header {
  display: flex;
  justify-content: space-between;
  height: 45px;
  color: var(--color-accent);
  background-color: var(--color-bg-dark);
  padding: 0 15px;
}

.listItem {
  display: flex;
  align-items: center;
}

.listItem .item + .item {
  margin-left: 15px;
}

.item {
  opacity: 0.7;
}
.listItem button {
  color: var(--color-accent);
}

.item:hover,
.item.selected {
  opacity: 1;
}

.button {
  font-size: 22px;
}
