.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}
.input {
  width: 15px;
  height: 15px;
  accent-color: var(--color-accent);
  border: 1px solid #a1a1a1;
}

.left label {
  font-size: 14px;
  color: var(--color-text);
  padding-left: 15px;
}

.delete {
  color: var(--color-text);
}
